
<!DOCTYPE html>
<html>
<head>
    <title>
Survey Creation - Brandometer
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">Brandometer</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/index">Home</a></li>
        <li><a href="/survey/create">Create Survey</a></li>
      </ul>
    </div>
  
  
  
  </div>
</nav>
<style type="text/css">
    form .row {
        padding-top: 15px;
    }
</style>
<div class="container">
    <form action="" method="post">
        <input id="csrf_token" name="csrf_token" type="hidden" value="ImYxNzBlZmFkY2I0NzFiOWFjOTdiNDBiNTE3MzcyNjM0MWM4NjliMjYi.ZC3CcQ.6azMVKMXRz3Gw-hf__t9v2BfBtQ">
        <p>
            <label for="surveyname">Survey Name</label> <input class="form-control" id="surveyname" name="surveyname" required type="text" value="">
        </p>
        <p>
            <label for="surveytype">Survey Type</label> <select class="form-control" id="surveytype" name="surveytype"><option value="brand_track">Brand Track</option></select>
        </p>
        <p>
            <label for="language">Language</label>
            <select class="form-control" id="language" name="language">
                <option value="en">en</option>
                <option value="ms">ms</option>
                <option value="zh">zh</option>
                <option value="ja">ja</option>
                <option value="ko">ko</option>
            </select>
        </p>
        <hr />
        <div>
            <h3>Question 1</h3>
            
            <p>
                <label for="question1">Question text</label> <input class="form-control" id="question1" name="question1" required type="text" value="">
            </p>
            <p>
                <label for="question1Type">Type</label> <select class="form-control" id="question1type" name="question1type"><option value="SINGLE_OPTION">SINGLE_OPTION</option><option value="MULTIPLE_OPTION">MULTIPLE_OPTION</option></select>
            </p>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer1a">Answer A Text</label> <input class="form-control" id="answer1a" name="answer1a" required type="text" value="">
                </div>
                <div class=" col-md-2">
                    <label for="answer1anext">Answer A Next Question</label> <input class="form-control" id="answer1anext" name="answer1anext" required type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer1b">Answer B Text</label> <input class="form-control" id="answer1b" name="answer1b" required type="text" value="">
                </div>
                <div class=" col-md-2">
                    <label for="answer1bnext">Answer B Next Question</label> <input class="form-control" id="answer1bnext" name="answer1bnext" required type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer1c">Answer C Text</label> <input class="form-control" id="answer1c" name="answer1c" required type="text" value="">
                </div>
                <div class=" col-md-2">
                    <label for="answer1cnext">Answer C Next Question</label> <input class="form-control" id="answer1cnext" name="answer1cnext" required type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer1d">Answer D Text</label> <input class="form-control" id="answer1d" name="answer1d" required type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer1dnext">Answer D Next Question</label> <input class="form-control" id="answer1dnext" name="answer1dnext" required type="text" value="end">
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h3>Question 2</h3>
            
            <p>
                <label for="question2">Question text</label> <input class="form-control" id="question2" name="question2" type="text" value="">
            </p>
            <p>
                <label for="question2Type">Type</label> <select class="form-control" id="question2type" name="question2type"><option value="SINGLE_OPTION">SINGLE_OPTION</option><option value="MULTIPLE_OPTION">MULTIPLE_OPTION</option></select>
            </p>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer2a">Answer A Text</label> <input class="form-control" id="answer2a" name="answer2a" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer2anext">Answer A Next Question</label> <input class="form-control" id="answer2anext" name="answer2anext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer2b">Answer B Text</label> <input class="form-control" id="answer2b" name="answer2b" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer2bnext">Answer B Next Question</label> <input class="form-control" id="answer2bnext" name="answer2bnext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer2c">Answer C Text</label> <input class="form-control" id="answer2c" name="answer2c" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer2cnext">Answer C Next Question</label> <input class="form-control" id="answer2cnext" name="answer2cnext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer2d">Answer D Text</label> <input class="form-control" id="answer2d" name="answer2d" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer2dnext">Answer D Next Question</label> <input class="form-control" id="answer2dnext" name="answer2dnext" type="text" value="end">
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h3>Question 3</h3>
            
            <p>
                <label for="question3">Question text</label> <input class="form-control" id="question3" name="question3" type="text" value="">
            </p>
            <p>
                <label for="question3Type">Type</label> <select class="form-control" id="question3type" name="question3type"><option value="SINGLE_OPTION">SINGLE_OPTION</option><option value="MULTIPLE_OPTION">MULTIPLE_OPTION</option></select>
            </p>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer3a">Answer A Text</label> <input class="form-control" id="answer3a" name="answer3a" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer3anext">Answer A Next Question</label> <input class="form-control" id="answer3anext" name="answer3anext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer3b">Answer B Text</label> <input class="form-control" id="answer3b" name="answer3b" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer3bnext">Answer B Next Question</label> <input class="form-control" id="answer3bnext" name="answer3bnext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer3c">Answer C Text</label> <input class="form-control" id="answer3c" name="answer3c" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer3cnext">Answer C Next Question</label> <input class="form-control" id="answer3cnext" name="answer3cnext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer3d">Answer D Text</label> <input class="form-control" id="answer3d" name="answer3d" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer3dnext">Answer D Next Question</label> <input class="form-control" id="answer3dnext" name="answer3dnext" type="text" value="end">
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h3>Question 4</h3>
            
            <p>
                <label for="question4">Question text</label> <input class="form-control" id="question4" name="question4" type="text" value="">
            </p>
            <p>
                <label for="question4Type">Type</label> <select class="form-control" id="question4type" name="question4type"><option value="SINGLE_OPTION">SINGLE_OPTION</option><option value="MULTIPLE_OPTION">MULTIPLE_OPTION</option></select>
            </p>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer4a">Answer A Text</label> <input class="form-control" id="answer4a" name="answer4a" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer4anext">Answer A Next Question</label> <input class="form-control" id="answer4anext" name="answer4anext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer4b">Answer B Text</label> <input class="form-control" id="answer4b" name="answer4b" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer4bnext">Answer B Next Question</label> <input class="form-control" id="answer4bnext" name="answer4bnext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer4c">Answer C Text</label> <input class="form-control" id="answer4c" name="answer4c" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer4cnext">Answer C Next Question</label> <input class="form-control" id="answer4cnext" name="answer4cnext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer4d">Answer D Text</label> <input class="form-control" id="answer4d" name="answer4d" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer4dnext">Answer D Next Question</label> <input class="form-control" id="answer4dnext" name="answer4dnext" type="text" value="end">
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h3>Question 5</h3>
            
            <p>
                <label for="question5">Question text</label> <input class="form-control" id="question5" name="question5" type="text" value="">
            </p>
            <p>
                <label for="question5Type">Type</label> <select class="form-control" id="question5type" name="question5type"><option value="SINGLE_OPTION">SINGLE_OPTION</option><option value="MULTIPLE_OPTION">MULTIPLE_OPTION</option></select>
            </p>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer5a">Answer A Text</label> <input class="form-control" id="answer5a" name="answer5a" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer5anext">Answer A Next Question</label> <input class="form-control" id="answer5anext" name="answer5anext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer5b">Answer B Text</label> <input class="form-control" id="answer5b" name="answer5b" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer5bnext">Answer B Next Question</label> <input class="form-control" id="answer5bnext" name="answer5bnext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer5c">Answer C Text</label> <input class="form-control" id="answer5c" name="answer5c" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer5cnext">Answer C Next Question</label> <input class="form-control" id="answer5cnext" name="answer5cnext" type="text" value="end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="answer5d">Answer D Text</label> <input class="form-control" id="answer5d" name="answer5d" type="text" value="">
                </div>
                <div class="col-md-2">
                    <label for="answer5dnext">Answer D Next Question</label> <input class="form-control" id="answer5dnext" name="answer5dnext" type="text" value="end">
                </div>
            </div>
        </div>
        <hr />
        <p>
            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">
            <a href="/index" class="btn btn-default">Cancel</a>
        </p>
    </form>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
